---
// TODO: Add filter import Filter from './blog-filter.svelte' WIP
import BlogCard from './blog-card.svelte'
import type { BlogType } from '$lib/models/blogs'

const { allBlogs } = Astro.props as { allBlogs: BlogType[] };
---

<section class="bg-slate-50">
  <div
    class="max-w-screen-xl mx-auto flex flex-col gap-y-3 min-h-screen pt-20 sm:pt-32 lg:pt-20 px-6 lg:px-22 xl:px-32 pb-8"
  >
    <div class="flex flex-col lg:flex-row w-full gap-x-8 items-start">
      <div class="font-body text-h2-mobile text-primary-800 whitespace-nowrap">
        Latest Blogs
      </div>
    </div>
    <div class="">
      {
        allBlogs.length > 0 && (
          <div class="grid gap-y-4 gap-x-4 w-full flex-grow items-start lg:items-stretch sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-between">
            {allBlogs.map(blog => (
              <BlogCard
                title={blog.title}
                byline={blog.byline}
                date={blog.date}
                thumbnail={blog.thumbnail}
                tags={blog.tags}
                slug={blog.slug}
              />
            ))}
          </div>
        )
      }
    </div>
  </div>
</section>
